environment:
  matrix:
    - PY_VERSION: "3.7"
      SECRET: 42

    - PY_VERSION: "3.6"
      SECRET: 42

    - PY_VERSION: "2.7"
      SECRET: 42

build_script:
  - ps: |
      Get-ChildItem env:
  - py -%PY_VERSION% test.py
