environment:
  matrix:
    - PY_VERSION: "3.7"
      SECRET: 42

    - PY_VERSION: "3.6"
      SECRET: 42

    - PY_VERSION: "2.7"
      SECRET: 42

install:
  - ps: py -$env:PY_VERSION -Wignore -m virtualenv venv

build_script:
  - ps: |
      Get-ChildItem env:
  - ps: venv/scripts/python test.py
